.card {
  width: min(364px, calc(145px + (219 * ((100vw - 768px) / (1680 - 768)))));
  height: min(322px, calc(160px + (162 * ((100vw - 768px) / (1680 - 768)))));
  background: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border: min(16px, calc(10px + (6 * ((min(1680px, max(768px, 100vw)) - 768px) / (1680 - 768))))) solid transparent;
  transition: background 0.5s ease, border 0.5s ease;
  box-sizing: border-box;
  cursor: pointer;
}

.tall {
  width: min(364px, calc(145px + (219 * ((100vw - 768px) / (1680 - 768)))));
  height: min(662px, calc((160px + (162 * ((100vw - 768px) / (1680 - 768)))) * 2 + min(18px, calc(6px + (12 * ((100vw - 768px) / (1680 - 768)))))));
}

.default:hover {
  background: rgba(7, 192, 106, 1);
  transition: background-color 0.5s ease;
}

.default:hover button {
  background: rgba(7, 192, 106, 1);
  outline: 2px solid white;
  transition: background-color 0.5s ease, border 0.5s ease;
}

.border {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: min(34px, calc(14px + (20 * ((100vw - 768px) / (1680 - 768))))); 
  transition: border-width 0.5s ease, padding 0.5s ease;
  border: min(16px, calc(8px + (8 * ((100vw - 768px) / (1680 - 768))))) solid transparent;
  box-sizing: border-box;
}

.border:hover {
  border-color: rgba(7, 192, 106, 1);
  transition: border-color 0.5s ease;
}

.border:hover button {
  background: rgba(7, 192, 106, 1);
  border: none;
  transition: background-color 0.5s ease;
}

.disabled {
  background: rgba(170, 170, 170, 1) !important;
  cursor: not-allowed;
}